/* Makeshift CSS Reset */  
{  
    margin: 0;  
    padding: 0;  
}  
  
/*general*/ 
div#sidebar, div.message {  
    display: block;  
}  


body {  
    margin: 0 auto;  
    width: 940px;  
    font: 13px/22px Helvetica, Arial, sans-serif;  
    background: #f0f0f0;  
}  
  
h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0;  
}  
  
h3 {  
    font-size: 22px;  
}


#messages_list input [type=button] {
  float: right;
}

#content {  
    display: table; 
    height: 100%;
} 

/* intro box*/

#intro {  
    margin-top: 66px;  
    padding: 44px;  
    background: #467612;   
}
.oblique{
	font-style: oblique;
}
#instructions{
	font-family:"Lucida Console", Monaco, monospace;
}

/* side bar */
div#sidebar {  
    display: table-cell;  
    width: 200px; 
    padding-right: 12px;    
    background:#000;
} 

#sidebar ul li a {  
        display: block;  
        margin-right: 20px;  
        width: 140px;  
        font-size: 14px;  
        line-height: 44px;  
        text-align: left;  
        text-decoration: none;  
        color: #777;  
    }   
#sidebar ul li a:hover {  
    color: #fff;  
}  

#sidebar ul li.selected a {  
    color: #fff;  
}
#addUserButton:visited, #addUserButton:link {
    color:black;
    text-decoration: none;
}#addUserButtonContainer {
width: 70%;
  text-align: center;
  border: white solid;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  background: white;
}

/*main area*/
 
#mainContent {  
	display: table-cell;  
	width: 620px;  
	padding-left: 22px;
  padding-bottom: 5em;
}

#mainContent form input[type=text] {
    display:block;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
}

.commands {
  float: right;
  margin-right: 45%;
}

input[type=button] {
  width: 10em;
  height: 2em;
}

input[readonly]{
  border:none;
  background: #f0f0f0; 
}

#deleteUser, #deleteUserRestricted {
  position:relative;
  top:-3em;
}

form label {
    font-weight: bold;
    display:block;/*Necessary for the first letter*/
}
form label:first-letter{
    text-transform: uppercase;
}

.section {  
   padding-bottom: 22px; 
 }

.editable[readonly="readonly"]{
	border-style: none;
}
.noEditable[readonly="readonly"]{
	border-style: none;
	background: #f0f0f0; 
}

#nickname_id, #nickname {
    font-size: 2.2em;
    width: 15em;
    font-weight: bold;
}

/*messages list*/
#messages_list .commands{
  margin-right: 0;
}
.message{
  padding:0.5em;
	padding-bottom: 2.2em;
  margin-bottom: 1.5em;
  border:2px solid black;
}

.headline{
	font-weight:bold;
  width:100%;
}








